<div class="details">
    <div class="car">
        <mat-icon [ngStyle]="{'color': carDetails.color}">directions_car</mat-icon>
        <p *ngIf="carDetails.color"><span>Color</span>: {{carDetails.color}}</p>
    </div>
    <div>
        <p *ngIf="carDetails.engineCapacity"><span>Engine Capacity</span>: {{carDetails.engineCapacity}}</p>
        <p *ngIf="carDetails.enginePower"><span>Engine Power</span>: {{carDetails.enginePower}}</p>
        <p *ngIf="carDetails.insuranceDate"><span>Insurance Date</span>: {{carDetails.insuranceDate}}</p>
    </div>
    <div class="progress-container">
        <app-progress *ngIf="expirationDate" [days]="expirationDate" title="Insurance"></app-progress>
    </div>
</div>