@import "../../../../../styles/variables";

* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;

  &_menu {
    position: relative;
    min-width: 191px;
    height: 100vh;
  }

  &_container {
    flex-grow: 1;
    background-color: var(--color-background);
    height: calc(100vh - 40px);
    margin-top: 40px;
  }

  &_content {
    height: 100%;
    padding: 30px;
    padding-bottom: 20px;
    padding-right: 0;
  }

}
