@import "../../../../../styles/variables";

*{
  margin: 0;
  padding: 0;
}

.app{
  display: flex;
  justify-content: center;

  &__menu{
    position: relative;
    width: 240px;
    height: 100vh;
  }

  &__content{
    flex-grow: 1;
    padding: 40px;
    background-color: var(--color-background);
  }

}
