.wrap {
  display: flex;
  max-width: 100%;

  @media (orientation: portrait) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.title-icon{
  color: var(--color-2);
  margin-top: 10px;
  font-size: 80px;
  width: 80px;
  height: 80px;
}

.table {
  flex-grow: 1;
  margin-right: 16px;
  padding-top: 30px;
  border-radius: 8px;

  @media (orientation: portrait) {
    width: 90vw;
    overflow: scroll;
  }

  .element-detail {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.summary {
  position: relative;
  width: 200px;
  min-height: 70px;
  border-radius: 2px;
  margin: 8px;
  margin-top: 30px;
  background-color: var(--color-4);
  box-shadow: var(--shadow);

  &--alert{
    box-shadow: var(--shadow-alert);
  }

  &_container {
    display: flex;
    margin: 12px;
    padding: 10px 0;
  }

  &_description {
    padding-top: 12px;
    text-align: center;
    width: 100%;

    p {
      color: var(--color-3);
      font-size: var(--font-title);
    }

    &--alert{
      p{
        color: var(--color-alert);
      }
    }

    span {
      font-weight: 700;
    }

    ul {
      list-style: none;

      li {
        color: var(--color-text)
      }
    }
  }
}