.wrap {
  display: flex;
  width: 100%;
}

.table {
  flex-grow: 1;
  margin-right: 16px;
  padding-top: 12px;
  border-radius: 8px;

  tr.detail-row {
    height: 0;
  }

  tr.element-row:not(.expanded-row):hover {
    background: var(--color-background);
  }

  tr.element-row:not(.expanded-row):active {
    background: var(--color-background);
  }

  .element-row td {
    border-bottom-width: 0;
  }

  .element-detail {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.summary {
  position: relative;
  width: 200px;
  min-height: 70px;
  border-radius: 2px;
  margin: 8px;
  background-color: var(--color-background);
  box-shadow: var(--shadow);

  &--alert{
    box-shadow: var(--shadow-alert);
  }

  &_container {
    display: flex;
    margin: 12px;
    padding: 10px 0;
  }

  &_description {
    padding-top: 12px;
    text-align: center;
    width: 100%;

    p {
      color: var(--color-base-light);
      font-size: var(--font-title);
    }

    &--alert{
      p{
        color: var(--color-alert);
      }
    }

    span {
      font-weight: 700;
    }

    ul {
      list-style: none;

      li {
        color: var(--color-text)
      }
    }
  }

}