<p>Highlighted upcoming dates</p>
<ng-container *ngIf="alerts; else noDate">
    <div *ngIf="alerts.length > 0" class="summary summary--alert">
        <div class="">
            <mat-icon>notification_important</mat-icon>
          <div class="">
            <p>Alert: <span>{{ alerts.length }}</span></p>
            <ul *ngFor="let alert of alerts; let i=index">
              <li><span>{{i + 1}}. </span>{{alert.message}}</li>
            </ul>
          </div>
        </div>
      </div>
</ng-container>
<ng-template #noDate>
    <mat-icon>slow_motion_video</mat-icon>
    <p>No upcoming important dates</p>
</ng-template>

