<ng-content></ng-content>
<div class="wrap">
  <ng-container *ngIf="loading; else showAlerts">
    <mat-spinner></mat-spinner>
  </ng-container>
  <ng-template #showAlerts>
    <ng-container *ngIf="alerts.length > 0; else noAlerts">
      <div *ngFor="let alert of alerts" class="alert"
      (click)="goToPage(alert.category)"
        [ngClass]="alert.deadline >= 20 ? 'alert--low' : alert.deadline >= 10 ? 'alert--medium' : 'alert--high'">
        <p>{{alert.message}}</p>
      </div>
    </ng-container>
    <ng-template #noAlerts>
      <p>No upcoming important dates</p>
    </ng-template>
  </ng-template>
</div>