<div class="details">
    <div>
        <p *ngIf="petDetails.vaccinationDate"><span>Vaccination Date</span>: {{petDetails.vaccinationDate}}</p>
        <p *ngIf="petDetails.dateOfBirth"><span>Date Of Birth</span>: {{petDetails.dateOfBirth}}</p>
        <p *ngIf="petDetails.color"><span>Color</span>: {{petDetails.color}}</p>
        <p *ngIf="petDetails.favoriteToy"><span>Favorite Toy</span>: {{petDetails.favoriteToy}}</p>
        <div class="details_life-container" *ngIf="age >= 1">
            <div class="details_life">
                <p><span>Length of life: </span></p>
                <p><span>Age</span>: {{age}} years</p>
                <p *ngIf="petDetails.averageLifeLength"><span>Average Life Length</span>: {{petDetails.averageLifeLength}}</p>
            </div>
            <app-stars [numberAll]="petDetails.averageLifeLength" [range]="age"></app-stars>
        </div>
    </div>
    <div class="progress-container">
        <app-progress *ngIf="daysUntilBirthday" [days]="daysUntilBirthday" title="Birthday"></app-progress>
        <app-progress *ngIf="toVaccinationDate" [days]="toVaccinationDate" title="Vaccination"></app-progress>
    </div>
</div>