<p class="title">Recover Password</p>
<p  class="description">We will send an email with instructions on how to recover it.</p>
<div class="auth_control">
    <form #emailForm="ngForm" (ngSubmit)="forgotPassword()">
        <div class="control">
            <input type="email" id="username" name="email" required [(ngModel)]="email" email>
            <div class="control_error" *ngIf="emailForm.touched && emailForm.controls['email'].errors?.['required']">
              Email is required.
            </div>
            <div class="control_error" *ngIf="emailForm.touched && emailForm.controls['email'].errors?.['email']">
              Invalid email format.
            </div>
        </div>
        <button type="submit" class="button" [disabled]="!emailForm.valid">Send Emil</button>
      </form>
</div>
<ng-content></ng-content>