.title {
    color: var(--color-text-light);
    font-size: var(--font-title);
}

.description {
    color: var(--color-text-light);
    font-size: var(--font-subtitle);
    margin-bottom: 30px;
}

.control {
    position: relative;
    margin-bottom: 20px;

    &_error {
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translateX(-50%);
        color: var(--color-alert);
        font-size: var(--font-medium);
    }


    label {
        display: block;
        color: var(--color-text-light);
        font-size: var(--font-medium);
    }

    input[type="email"] {
        width: 400px;
        padding: 5px;
    }
}


button {
    position: relative;
    width: 200px;
    padding: 10px;
    margin: 20px;
    border: none;
    background-color: var(--color-base);
    color: var(--color-text-light);
    font-size: var(--font-subtitle);
    box-shadow: var(--shadow);

    mat-icon {
        position: absolute;
        top: 7px;
        right: 12px;
    }
}

button[disabled] {
    background-color: #ccc;
    color: var(--color-base);
    cursor: not-allowed;
    border: none;
    box-shadow: none;
}