.title {
    color: var(--color-text-light);
    font-size: var(--font-title);
}

.description {
    color: var(--color-text-light);
    font-size: var(--font-subtitle);
    margin-bottom: 30px;
}

.control {
    position: relative;
    margin-bottom: 20px;

    &_error {
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translateX(-50%);
        color: var(--color-alert);
        font-size: var(--font-medium);
    }


    label {
        display: block;
        color: var(--color-text-light);
        font-size: var(--font-medium);
    }

    input[type="email"] {
        width: 400px;
        padding: 5px;
    }
}