.appButton {
    width: 200px;
    padding: 20px !important;
    background-color: var(--color-base) !important;
    color: var(--color-text-light) !important;
    font-size: var(--font-subtitle);
    font-weight: bold;
    border: 1px solid #ffffff24 !important;
    border-right: none !important;
    border-bottom: none !important;
    border-radius: 2px !important;
    box-shadow: var(--shadow);
    cursor: pointer;
    margin: 20px;

    &:hover {
        background-color: var(--color-background) !important;
        box-shadow: none;
        color: var(--color-base) !important;
    }

    &--cancel {
        color: var(--color-grey) !important;
    }
}

.button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    flex-wrap: nowrap !important;
}