.button{
    width: 200px;
    padding: 10px;
    background-color: var(--color-base-dark);
    color: var(--color-text-light);
    font-size: var(--font-subtitle);
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px;
    box-shadow: 0px 0px 12px 0px #ffffff66;

    &:hover {
        color: var(--color-base-light);
    }

    &--cancel{
        background-color: #ccc;
        color: var(--color-base);
        border: none;
        box-shadow: none;
        &:hover {
            color: var(--color-text-light);
        }
    }
}

.button-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    flex-wrap: nowrap !important;
}