.button{
    width: 200px;
    padding: 10px;
    background-color: var(--color-base-dark);
    color: var(--color-text-light) !important;
    font-size: var(--font-subtitle);
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px;
    box-shadow: 1px 1px 0px 2px rgb(255 255 255 / 27%);

    &:hover {
        text-shadow: #0c0c0cd8 2px 2px 20px;
    }

    &--cancel{
        background-color: #ccc;
        color: var(--color-base);
        border: none;
        box-shadow: none;
        &:hover {
            color: var(--color-text-light);
        }
    }
}

.button-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    flex-wrap: nowrap !important;
}