.table table {
  width: 100%;
  box-shadow: none !important;
  border-radius: 20%;

  tr.detail-row {
    height: 0;
  }

  tr.element-row:not(.expanded-row):hover {
    background: var(--color-4);
  }

  tr.element-row.expanded-row {
    background: var(--color-2);

    .mat-mdc-cell {
      color: var(--color-text-light);
    }
  }

  tr.element-row:not(.expanded-row):active {
    background: var(--color-4);
  }

  .element-row td {
    border-bottom-width: 0;
  }

  tr.mat-mdc-row {
    &:hover {
      background-color: var(--color-2) !important;
      cursor: pointer;
    }
  }

  tr.mat-mdc-row.detail-row:hover {
    background-color: var(--color-4) !important;
    cursor: auto;
  }

  .mat-mdc-cell {
    display: table-cell;
    font-size: var(--font-medium);
    color: var(--color-text);
  }

  th.mat-mdc-header-cell {
    font-size: var(--font-medium);
    color: var(--color-text-light);
    background-color: var(--color-1) !important;
  }
}