:root {
  --color-base: #3f9343;
  --color-background: #F1F8E9;
  --color-background-basic: #FFFFFF;
  --color-text: #121212;
  --color-grey: #ccc;

  --font-title: 24px;
  --font-subtitle: 20px;
  --font-medium: 14px;

  --color-1: rgba(105, 25, 231, 0.6);
  --color-2: rgba(225, 41, 145, 0.6)

}
