:root {
  --color-base-dark: #164B60;
  --color-base: #1B6B93;
  --color-base-transparent: #1b6b930c;
  --color-base-light: #4FC0D0;
  --color-base-active: #A2FF86;
  --color-background: #FFFFFF;
  --color-background-main: #4FC0D0;
  --color-text: #164B60;
  --color-text-light: #FFFFFF;
  --color-grey: #ccc;
  --color-alert: #f00;

  --font-title: 24px;
  --font-subtitle: 18px;
  --font-medium: 12px;

  --color-1: var(--color-base-dark);
  --color-2: var(--color-base);
  --color-3: var(--color-base-light);
  --color-4: var(--color-base-active);

  --shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  --shadow-alert: 0px 1px 10px 0px var(--color-alert);

}
