.control {
    display: flex;
    margin-bottom: 10px;

    label {
        width: 114px;
        color: var(--color-text-light);
        font-size: var(--font-medium);
    }

    textarea,
    select,
    input {
        flex-grow: 1;
        padding: 2px 2px 2px 10px;
        font-size: var(--font-medium);
        min-height: 32px;
    }
}