.control {
    display: flex;
    margin-bottom: 10px;

    label {
        width: 150px;
        color: var(--color-text-light);
        font-size: var(--font-medium);
    }

    textarea,
    select,
    input {
        width: 100%;
        padding: 2px 2px 2px 10px;
        font-size: var(--font-medium);
        min-height: 32px;
    }

    .error-message {
        color: var(--color-alert);
        font-size: var(--font-medium);
    }
}