.wrap-form {
    width: 100%;

    form {
        display: flex;
        flex-direction: column;
    }
    .error-message {
        color: var(--color-alert);
        font-size: var(--font-medium);
    }
}