<div class="header">
    <ng-container [ngSwitch]="data.type">
        <mat-icon *ngSwitchDefault>info</mat-icon>
        <mat-icon *ngSwitchCase="'warning' && 'error'">warning</mat-icon>
        <mat-icon *ngSwitchCase="'submit'">check_circle_outline</mat-icon>
    </ng-container>
    <h1 mat-dialog-title>{{ data.title }}</h1>
</div>
<div *ngIf="data.description" class="description" mat-dialog-content>
    {{ data.description }}
</div>
<div mat-dialog-actions>
    <ng-container [ngSwitch]="data.type">
        <div *ngSwitchDefault>
            <button class="appButton" mat-button mat-dialog-close>Ok</button>
        </div>
        <div *ngSwitchCase="'error'">
            <button class="appButton" mat-button mat-dialog-close>Ok</button>
        </div>
        <div *ngSwitchCase="'warning'">
            <button class="appButton appButton--cancel" mat-button mat-dialog-close>Back</button>
            <button class="appButton" (click)="onSubmit()" mat-button mat-dialog-close>I am sure</button>
        </div>
        <div *ngSwitchCase="'submit'">
            <button class="appButton appButton--cancel" mat-button mat-dialog-close>Back</button>
            <button class="appButton" (click)="onSubmit()" mat-button mat-dialog-close>Submit</button>
        </div>
    </ng-container>
</div>