<div class="details"
    [ngClass]="details.importance === 'High' ? 'details--high' : details.importance === 'Medium' ? 'details--medium' : ''">
    <div>
        <p><span>Title</span>: {{details.name}}</p>
        <p><span>Category</span>: {{details.category}}</p>
        <p><span>Date</span>: {{details.date}}</p>
        <p *ngIf="details.time"><span>Time</span>: {{details.time}}</p>
        <p *ngIf="details.description"><span>Description</span>: {{details.description}}</p>
    </div>
    <div class="progress-container">
        <app-progress [days]="date" title="Deadline"></app-progress>
    </div>
</div>