.wrap {
  display: flex;
  position: relative;
  height: 100%;
  overflow: hidden;
  min-width: 360px;

  @media (orientation: portrait) {
    height: auto;
    flex-wrap: wrap;
  }

  .sections {
    flex-grow: 1;
    display: flex;

    @media (orientation: portrait) {
      flex-wrap: wrap;
    }
  }

  .main {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end;
    gap: 22px;
    width: 50%;

    @media (orientation: portrait) {
      justify-content: center;
      width: 100%;
      margin: 22px;
    }

    &_container {
      flex-grow: 1;
      position: relative;
      background-color: var(--color-2);
      width: 47%;
      height: 130px;
      box-shadow: var(--shadow);
      border-radius: 4px;
      cursor: pointer;

      @media (orientation: portrait) {
        height: 85px;
      }

      &:hover {

        box-shadow: 2px 4px 10px 0px #000;

        .main_title p {
          font-size: calc(var(--font-subtitle) + 1px);
        }
      }

      &:active {
        box-shadow: inset 2px 4px 10px 0px #000;
      }
    }

    &_title {
      position: absolute;
      bottom: 10px;
      left: 14px;

      @media (orientation: portrait) {
        left: 80px;
      }

      p {
        color: var(--color-text-light);
        font-size: var(--font-subtitle);
        text-transform: uppercase;
      }
    }

    &_icon {
      position: absolute;
      top: 10px;
      left: 10px;

      .mat-icon {
        color: var(--color-text-light);
        height: 60px;
        width: 60px;
        font-size: 60px;
      }
    }


    &_alert-box {
      position: absolute;
      top: 10px;
      right: 14px;
      height: 30px;
      width: 30px;

      .alert {
        margin: 0 auto;
        width: 24px;
        height: 24px;
        border-radius: 50%;

        &--warning {
          background-color: var(--color-alert);
          box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #8d2828 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
          animation: alert 1s 6;
        }

        &--ok {
          background-color: var(--color-ok);
          box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 6px 1px, inset #134415 0 -1px 7px, rgba(0, 255, 13, 0.5) 0 2px 10px;
        }
      }

      @keyframes alert {
        from {
          background-color: var(--color-alert);
        }

        60% {
          background-color: #A00;
          box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #772121 0 -1px 12px, rgba(255, 0, 0, 0.5) 0 1px 0;
        }

        to {
          background-color: var(--color-alert);
        }
      }
    }

    &_alert-number {
      color: #fff;
      position: absolute;
      top: 2px;
      right: 8px;
    }

    &_alert-tooltip {
      color: grey;
      position: absolute;
      top: 1px;
      right: 33px;
    }

  }

  .right-section {
    width: 65%;

    @media (orientation: portrait) {
      width: 100%;
    }
  }

  .info {
    position: relative;
    background-color: var(--color-1);
    width: calc(100% - 44px);
    box-shadow: var(--shadow);
    border-radius: 4px;
    margin: 0 22px 22px 22px;

    &_wide {
      margin: 0;
      width: 100%;
      height: calc(100% - 130px - 130px - 22px - 22px - 12px);
      @media (orientation: portrait) {
        height: auto;
        min-height: 240px;
      }
    }

    &_bills {
      height: calc(100% - 260px - 22px - 12px);
      overflow: auto;

      @media (orientation: portrait) {
        height: auto;
        min-height: 240px;
      }
    }

    &_links {
      min-height: 260px;
      overflow: auto;
    }

    &_title {
      position: absolute;
      left: 84px;
      top: 30px;

      p {
        color: var(--color-text-light);
        font-size: var(--font-subtitle);
        text-transform: uppercase;
      }
    }

    &:hover {

      box-shadow: 2px 4px 10px 0px #000;

    }
  }
}