.wrap {
  display: flex;
  position: relative;
  min-height: 100%;

  .main {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 50px;
    margin-right: 20px;

    &_container {
      position: relative;
      background-color: var(--color-base-dark);
      width: 200px;
      height: 140px;
      box-shadow: var(--shadow);
      border-radius: 4px;
      cursor: pointer;

      &:nth-of-type(2n) {
        background-color: var(--color-base);
      }

      &:hover {

        box-shadow: 2px 4px 10px 0px #000;

        .main_title p {
          font-size: calc(var(--font-subtitle) + 1px);
          color: var();
        }
      }

      &:active {
        box-shadow: inset 2px 4px 10px 0px #000;
      }
    }

    &_title {
      position: absolute;
      bottom: 10px;
      left: 14px;

      p {
        color: var(--color-text-light);
        font-size: var(--font-subtitle);
        text-transform: uppercase;
      }
    }

    &_icon {
      position: absolute;
      top: 10px;
      left: 10px;

      .mat-icon {
        color: var(--color-text-light);
        height: 60px;
        width: 60px;
        font-size: 60px;
      }
    }
  }
}