<div class="wrap">
  <div class="sections">
    <div class="main">
      <ng-container *ngFor="let section of sections">
        <div (click)="goToPage(section.value)" class="main_container">
          <div class="main_icon">
            <mat-icon>{{section.icon}}</mat-icon>
          </div>
          <div class="main_title">
            <p>{{section.title}}</p>
          </div>
          <div class="main_alert-box">
            <ng-container *ngIf="allAlerts$ | async as alerts">
              <ng-container *ngIf="alerts[section.value].length > 0; else ok">
                <div class="alert alert--warning">
                  <div class="main_alert-number">
                    {{alerts[section.value].length}}
                  </div>
                </div>
                <mat-icon class="main_alert-tooltip" 
                [matTooltip]="getTooltipContent(alerts[section.value])"
                >info</mat-icon>
              </ng-container>
              <ng-template #ok>
                <div class="alert alert--ok"></div>
              </ng-template>
            </ng-container>
          </div>
        </div>
      </ng-container>
      <div style="width: 100%;">
        <app-upcoming-dates></app-upcoming-dates>
      </div>
    </div>
    <div class="todos">
      <div class="main_icon">
        <mat-icon>event_available</mat-icon>
      </div>
      <div class="main_title">
        <p>todos</p>
      </div>
    </div>
  </div>
  <app-stickers></app-stickers>
</div>