<div class="wrap">
  <div class="main">
    <ng-container *ngFor="let section of sections">
      <div (click)="goToPage(section.value)" class="main_container">
        <div class="main_icon">
          <mat-icon>{{section.icon}}</mat-icon>
        </div>
        <div class="main_title">
          <p>{{section.title}}</p>
        </div>
        <div class="main_alert-box">
          <div class="alert alert--ok"></div>
        </div>
      </div>
    </ng-container>
    <app-upcoming-dates></app-upcoming-dates>
  </div>
  <app-stickers></app-stickers>
</div>