<div class="wrap">
  <div class="wrap_container">
    <app-add-button (addEvent)="onAddNote()"></app-add-button>
    <ng-container *ngFor="let note of notes; let i = index">
      <div class="box" cdkDragBoundary=".wrap_container" cdkDrag
      [cdkDragFreeDragPosition]="note.dragPosition" 
      (cdkDragEnded)="onDragEnd($event, note)">
        <div class="box_actions">
          <mat-icon>control_camera</mat-icon>
          <mat-icon (click)="onDeleteNote(note)">delete_outline</mat-icon>
        </div>
        <textarea [(ngModel)]="note.content" (ngModelChange)="onNoteContentChange(note)"></textarea>
      </div>
    </ng-container>
  </div>
</div>