<div class="details">
    <div>
        <p><span>Name</span>: {{details.name}}</p>
        <p><span>Surname</span>: {{details.surname}}</p>
        <p><span>Sex</span>: {{details.sex}}</p>
    </div>
    <div>
        <p><span>Birthday</span>: {{details.dateOfBirth}}</p>
        <p *ngIf="details.nameDay"><span>Wedding</span>: {{details.nameDay}}</p>
        <p *ngIf="details.socialSecurityNumber"><span>PESEL</span>: {{details.socialSecurityNumber}}</p>
        <p><span>ID card</span>: {{details.IDcard}}</p>
    </div>
    <div class="person">
        <mat-icon>{{getIconAge()}}</mat-icon>
        <p><span>Age</span>: {{age}}</p>
    </div>
    <div class="progress-container">
        <app-progress [days]="birthdayDate" title="Birthday"></app-progress>
        <app-progress *ngIf="details.nameDay" [days]="nameDay" title="Wedding"></app-progress>
    </div>
</div>