.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 193px;
  background-color: var(--color-base);
  padding-top: 60px;

  .container {
    margin: 10px;
    padding: 10px;
    border-radius: 4px;

    &_box {
      display: flex;
      align-items: center;
      width: 160px;
      padding: 10px;
      border: 1px solid #ffffff24;
      border-right: none;
      border-bottom: none;
      border-radius: 2px;
      box-shadow: var(--shadow);
      cursor: pointer;
      transition: .2s;


      &:hover,
      &--active {
        background-color: var(--color-background);
        box-shadow: none;

        .container_name {
          color: var(--color-base);
        }

        .container_img {
          color: var(--color-base);
        }
      }

      &--active{
        width: 175px;
      }
    }

    &_name {
      margin: 12px;
      color: var(--color-text-light);
      font-size: var(--font-subtitle);
      font-weight: bold;
      position: relative;
    }

    &_img {
      color: var(--color-text-light);
    }
  }
}