.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  background-color: var(--color-base);
  padding-top: 60px;

  .container {
    margin: 20px;
    margin-right: 0;
    padding: 10px;
    padding-right: 0;
    border-radius: 4px;
    border: 2px solid #fff;

    &_box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 195px;
      padding: 10px 20px;
      border: 2px solid #fff;
      border-right: none;
      border-bottom: none;
      border-radius: 2px;
      box-shadow: var(--shadow);
    }

    &:hover,
    &--active {
      background-color: var(--color-background);

      .container_name {
        color: var(--color-base);
      }

      .container_img {
        color: var(--color-base);
      }

      .container_box{
        border: 2px solid var(--color-base);
        border-right: none;
        border-bottom: none;
      }
    }

    &_name {
      margin: 12px;
      color: var(--color-text-light);
      font-size: var(--font-subtitle);
      font-weight: bold;
      position: relative;
    }

    &_img {
      color: var(--color-text-light);
    }
  }
}