.color,
.tabs {
    padding-top: 20px;
    border-radius: 4px;
    margin-right: 20px;
    margin-bottom: 20px;

    .title,
    .default {
        color: var(--color-text);
        font-size: var(--font-title);
        text-transform: uppercase;
        margin-left: 20px;

        &--description {
            font-size: var(--font-subtitle);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .default {
        font-size: var(--font-medium);
        text-decoration: underline;
        margin: 20px;
        cursor: pointer;

        &:hover {
            font-weight: bold;
        }
    }

    .wrap {
        display: flex;
        align-content: flex-start;
        gap: 30px;
        margin-left: 20px;

        @media (orientation: portrait) {
            flex-wrap: wrap;
            gap: 10px;
        }

        &_slider {
            width: 400px;
            margin-top: 30px;

        }

        .choose {
            position: relative;
            background-color: var(--color-grey);
            width: 150px;
            height: 150px;
            box-shadow: var(--shadow);
            border-radius: 4px;
            cursor: pointer;


            @media (orientation: portrait) {
                width: 30%;
                height: 80px;
            }

            &--active {
                background-color: var(--color-1);
            }

            &:hover {

                box-shadow: 2px 4px 10px 0px #000;
            }

            &:active {
                box-shadow: inset 2px 4px 10px 0px #000;
            }

            &_icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                .mat-icon {
                    color: var(--color-text-light);
                    height: 60px;
                    width: 60px;
                    font-size: 60px;
                }
            }
        }
    }
}

.section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: var(--shadow);
    border-radius: 4px;
    padding: 5px;
    background-color: var(--color-grey);

    @media (orientation: portrait) {
        flex-wrap: wrap;
    }

    &--active {
        background-color: var(--color-1);
        color: var(--color-text);

        .section_description {
            color: var(--color-text-light)
        }

        .section_icon {
            color: var(--color-text-light)
        }
    }

    &_description {
        color: var(--color-text);
        font-size: var(--font-subtitle);
        margin: 0;
        margin-left: 20px;
        width: 200px;
    }

    &_icon {
        color: var(--color-text);
        height: 60px;
        width: 60px;
        font-size: 50px;
    }
}