<div class="color">
  <p class="title">Theme color</p>
  <div class="wrap">
    <ng-container *ngFor="let color of colors; let i = index">
      <div [ngClass]="activeIndexColor === i ? 'choose choose--active' : 'choose'" (click)="changeColor(i)">
        <div class="choose_icon">
          <mat-icon [ngStyle]="{color: color.color}">color_lens</mat-icon>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="button-container button-container--left">
    <button class="appButton appButton--cancel" (click)="changeColor(1)">Back to default</button>
  </div>
</div>

<div class="tabs">
  <p class="title">Visible sections</p>
  <div style="padding: 20px;">
    <div *ngFor="let section of sections; let i = index">
      <div [ngClass]="section.visible ? 'section section--active' : 'section'">
        <mat-icon class="section_icon">{{section.icon}}</mat-icon>
        <mat-slide-toggle [(ngModel)]="section.visible" [disabled]="section.value === 'persons' || section.value === 'events'">
          <p class="section_description">Show {{section.title}} section</p>
        </mat-slide-toggle>
      </div>
    </div>
  </div>
</div>