<div class="wrap">
  <div class="table">

    <div class="title">
      <svg class="svg-icon" viewBox="0 0 20 20">
        <path
          d="M11.709,7.438H8.292c-0.234,0-0.427,0.192-0.427,0.427v8.542c0,0.234,0.192,0.427,0.427,0.427h3.417c0.233,0,0.426-0.192,0.426-0.427V7.865C12.135,7.63,11.942,7.438,11.709,7.438 M11.282,15.979H8.719V8.292h2.563V15.979zM6.156,11.709H2.74c-0.235,0-0.427,0.191-0.427,0.426v4.271c0,0.234,0.192,0.427,0.427,0.427h3.417c0.235,0,0.427-0.192,0.427-0.427v-4.271C6.583,11.9,6.391,11.709,6.156,11.709 M5.729,15.979H3.167v-3.416h2.562V15.979zM17.261,3.167h-3.417c-0.235,0-0.427,0.192-0.427,0.427v12.812c0,0.234,0.191,0.427,0.427,0.427h3.417c0.234,0,0.427-0.192,0.427-0.427V3.594C17.688,3.359,17.495,3.167,17.261,3.167 M16.833,15.979h-2.562V4.021h2.562V15.979z"></path>
      </svg>

      <p>Projects statistic</p>
    </div>

    <table mat-table
           [dataSource]="dataSource" multiTemplateDataRows
           class="mat-elevation-z8">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>
      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="expand row"
                  (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
            <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
          <div class="element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

            <div class="element-description">
              {{element.stars}}
              <span class="element-description-attribution"> Rate the project </span>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
          class="element-row"
          [class.expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
  </div>
  <div class="summary">
    <div class="summary_container">
      <div class="summary_dot summary_dot--number"></div>
      <div class="summary_description">
        <p>{{totalCount}}</p>
        <p>Number of projects</p></div>
    </div>
    <div class="summary_container">
      <div class="summary_dot summary_dot--followers"></div>
      <div class="summary_description">
        <p>1</p>
        <p>Number of followers</p></div>
    </div>
  </div>
</div>


<!--<table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>-->
<!--  <ng-container matColumnDef="expand">-->
<!--    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>-->
<!--    <td mat-cell *matCellDef="let element" class="td-expand">-->
<!--      <button class="expand" aria-label="expand row"-->
<!--              (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">-->
<!--        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_right</mat-icon>-->
<!--        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_down</mat-icon>-->
<!--      </button>-->
<!--    </td>-->
<!--  </ng-container>-->
<!--  <ng-container matColumnDef="options">-->
<!--    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>-->
<!--    <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">-->
<!--      <div [matMenuTriggerFor]="option" class="dots-container">-->
<!--        <svg width="30" height="25" viewBox="0 0 30 25" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--          <rect class="rect-background" width="30" height="25" rx="4" fill="none"/>-->
<!--          <circle cx="11" cy="12.5" r="1" fill="var(&#45;&#45;text-color1)"/>-->
<!--          <circle cx="15" cy="12.5" r="1" fill="var(&#45;&#45;text-color1)"/>-->
<!--          <circle cx="19" cy="12.5" r="1" fill="var(&#45;&#45;text-color1)"/>-->
<!--          <rect class="rect-outline" x="0.5" y="0.5" width="29" height="24" rx="3.5" stroke="none"/>-->
<!--        </svg>-->
<!--      </div>-->
<!--      <div>-->
<!--        <mat-menu class="panel" #option="matMenu">-->
<!--          <ng-container>-->
<!--            <button mat-menu-item>-->
<!--              <div [routerLink]="['/ecommerce/orders/details', element.id]">-->
<!--                <span class="data-grid__action__name">Details</span>-->
<!--              </div>-->
<!--            </button>-->
<!--          </ng-container>-->
<!--        </mat-menu>-->
<!--      </div>-->
<!--    </td>-->
<!--  </ng-container>-->

<!--  <ng-container [matColumnDef]="column" *ngFor="let column of columnsToDisplay">-->
<!--    <th mat-header-cell *matHeaderCellDef mat-sort-header>-->
<!--      <span>{{ column }}</span>-->
<!--      <svg class="sort-icon" width="14" height="15" viewBox="0 0 13 14" fill="none"-->
<!--           xmlns="http://www.w3.org/2000/svg"-->
<!--           [class.active]="nativeSortEvent?.active === column"-->
<!--           [class.sort-asc]="nativeSortEvent?.active === column && nativeSortEvent?.direction === 'asc'"-->
<!--           [class.sort-desc]="nativeSortEvent?.active === column && nativeSortEvent?.direction === 'desc'"-->
<!--      >-->
<!--        <path-->
<!--          d="M3.94012 4.27906L6.15075 2.13829C6.24318 2.04885 6.36663 1.99972 6.49844 2C6.62975 1.99972 6.75327 2.04885 6.84578 2.13829L9.05796 4.28062C9.70367 4.90593 9.26074 5.99935 8.36188 5.99897L4.63538 5.99743C3.73691 5.99706 3.2947 4.9041 3.94012 4.27906Z"-->
<!--          fill="#D7D7D7"/>-->
<!--        <path-->
<!--          d="M9.05988 9.72094L6.84925 11.8617C6.75682 11.9512 6.63337 12.0003 6.50156 12C6.37025 12.0003 6.24673 11.9512 6.15422 11.8617L3.94204 9.71938C3.29633 9.09407 3.73926 8.00065 4.63812 8.00103L8.36462 8.00257C9.26309 8.00294 9.7053 9.0959 9.05988 9.72094Z"-->
<!--          fill="#D7D7D7"/>-->
<!--      </svg>-->
<!--    </th>-->
<!--    <td mat-cell *matCellDef="let element"-->
<!--        [ngClass]="column === 'Status' ? 'status' : ''"-->
<!--    >-->
<!--      <p  [style.background-color]="column === 'Status' ? element['orderStatusHexCode']+'10' : ''"-->
<!--          [style.color]="column === 'Status' ? element['orderStatusHexCode'] : ''">{{ getValueByColumnName(element, column) }}</p>-->
<!--    </td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="expandedDetail">-->
<!--    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length" class="expanded-row">-->
<!--      <div class="element-detail"-->
<!--           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">-->
<!--        <app-orders-extend></app-orders-extend>-->
<!--      </div>-->
<!--    </td>-->
<!--  </ng-container>-->

<!--  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>-->
<!--  <tr mat-row *matRowDef="let element ; columns: columnsToDisplayWithExpand;"-->
<!--      class="element-row"-->
<!--      [class.expanded-row]="expandedElement === element"-->
<!--      (click)="expandedElement = expandedElement === element ? null : element">-->
<!--  </tr>-->
<!--  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>-->

<!--</table>-->
