.menu {
  display: flex;

  .container {
    margin: 1px;
    padding: 5px;
    border-radius: 4px;

    &_box {
      display: flex;
      align-items: center;
      width: 36px;
      padding: 5px;
      background-color: var(--color-2);
      border: 1px solid #ffffff24;
      border-right: none;
      border-bottom: none;
      border-radius: 2px;
      box-shadow: var(--shadow);
      cursor: pointer;
      transition: .2s;


      &:hover,
      &--active {
        background-color: var(--color-4);

        .container_name {
          color: var(--color-2);
        }

        .container_img {
          color: var(--color-2);
        }
      }
    }

    &_img {
      color: var(--color-text-light);
    }
  }
}